.pos-r{
	position: relative;
}
.pos-a{
	position: absolute;
}
.pos-f{
	position: fixed;
}
.left{
	left: 0;
}
.right{
	right: 0;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
pre{
    line-height: 24px;
    font-size: 16px;
    color: #333;
}
pre code{
    font-family: Menlo,Monaco,Consolas,Courier,monospace;
    font-size:14px;
}